#initially-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#fadetoggle {
  font-weight: bolder;
  font-size: 20pt;
}
